production:
  project.name: Billing
  facility.name: Test Centre
  price.types: General,Private,Invoice
  scheme.provider.types: Company,Provider
  payment.methods: Medical Scheme,Company Agreement,Cash,Social Welfare,Government Referral,Private Clinic Referral,Credit
  patient.registration.url: http://localhost:3005
  user.management.url: http://localhost:3004

development:
  project.name: Billing
  facility.name: Test Centre
  price.types: General,Private,Invoice
  scheme.provider.types: Company,Provider
  payment.methods: Medical Scheme,Company Agreement,Cash,Social Welfare,Government Referral,Private Clinic Referral,Credit
  patient.registration.url: http://localhost:3005
  user.management.url: http://localhost:3004

test: &TEST
  project.name: Billing
  facility.name: Test Centre
  price.types: General,Private,Invoice
  scheme.provider.types: Company,Provider
  payment.methods: Medical Scheme,Company Agreement,Cash,Social Welfare,Government Referral,Private Clinic Referral,Credit
  patient.registration.url: http://localhost:3005
  user.management.url: http://localhost:3004
