production:
  project.name: Billing
  facility.name: Daeyang Luke Hospital
  facility.address: P.O. Box 30330, Lilongwe 3.
  facility.telephone: 01 711 298
  facility.url: www.daeyanglukehospital.org
  price.types: General,Private,Invoice
  VAT: 16.5
  scheme.provider.types: Company,Provider,Hospital,Clinic
  payment.methods: Medical Scheme,Company Agreement,Cash,Social Welfare,Government Referral,Private Clinic Referral,Credit,Staff
  patient.registration.url: http://localhost:3005
  user.management.url: http://localhost:3004

development:
  project.name: Billing
  facility.name: Daeyang Luke Hospital
  facility.address: P.O. Box 30330, Lilongwe 3.
  facility.telephone: 01 711 298
  facility.url: www.daeyanglukehospital.org
  price.types: General,Private,Invoice
  VAT: 16.5
  scheme.provider.types: Company,Provider,Hospital,Clinic
  payment.methods: Medical Scheme,Company Agreement,Cash,Social Welfare,Government Referral,Private Clinic Referral,Credit,Staff
  patient.registration.url: http://localhost:3005
  user.management.url: http://localhost:3004

test: &TEST
  project.name: Billing
  facility.name: Daeyang Luke Hospital
  facility.address: P.O. Box 30330, Lilongwe 3.
  facility.telephone: 01 711 298
  facility.url: www.daeyanglukehospital.org
  price.types: General,Private,Invoice
  VAT: 16.5
  scheme.provider.types: Company,Provider,Hospital,Clinic
  payment.methods: Medical Scheme,Company Agreement,Cash,Social Welfare,Government Referral,Private Clinic Referral,Credit,Staff
  patient.registration.url: http://localhost:3005
  user.management.url: http://localhost:3004
