
production:
  clinical.encounters.sequential.list: ADMISSIONS,PAYMENT METHOD,PHARMACY,SERVICES
  clinical.encounters.display.list: ADMISSIONS;PAYMENT METHOD;PHARMACY;SERVICES
  scope: PAYMENT METHOD|,ADMISSIONS|,PHARMACY|,SERVICES|
  label: PAYMENT METHOD|Payment method

development:
  clinical.encounters.sequential.list: ADMISSIONS,PAYMENT METHOD,PHARMACY,SERVICES
  clinical.encounters.display.list: ADMISSIONS;PAYMENT METHOD;PHARMACY;SERVICES
  scope: PAYMENT METHOD|,ADMISSIONS|,PHARMACY|,SERVICES|
  label: PAYMENT METHOD|Payment method

test: &TEST
  clinical.encounters.sequential.list: ADMISSIONS,PAYMENT METHOD,PHARMACY,SERVICES
  clinical.encounters.display.list: ADMISSIONS;PAYMENT METHOD;PHARMACY;SERVICES
  scope: PAYMENT METHOD|,ADMISSIONS|,PHARMACY|,SERVICES|
  label: PAYMENT METHOD|Payment method

