
production:
  clinical.encounters.sequential.list: SERVICES,PHARMACY,PAYMENT METHODS,ADMISSIONS
  clinical.encounters.display.list: SERVICES,PHARMACY,PAYMENT METHODS,ADMISSIONS
  scope: SERVICES|TODAY

development:
  clinical.encounters.sequential.list: SERVICES,PHARMACY,PAYMENT METHODS,ADMISSIONS
  clinical.encounters.display.list: SERVICES,PHARMACY,PAYMENT METHODS,ADMISSIONS
  scope: SERVICES|TODAY

test: &TEST
  clinical.encounters.sequential.list: SERVICES,PHARMACY,PAYMENT METHODS,ADMISSIONS
  clinical.encounters.display.list: SERVICES,PHARMACY,PAYMENT METHODS,ADMISSIONS
  scope: SERVICES|TODAY

