<script type='text/javascript' language='javascript'>
<!--
	tt_cancel_show = '/patients/show/<%= @patient.id %>?user_id=<%= @user.id %>';
	tt_cancel_destination = '/patients/show/<%= @patient.id %>?user_id=<%= @user.id %>';
	</script>

<form method='post' action='/encounters/create'>
	<input type='hidden' name='program' value='BILLING PROGRAM' />
	<input type='hidden' name='encounter_type' value='Pharmacy ' />
	<input type='hidden' name='patient_id' value='<%= @patient.id %>' />
	<input type='hidden' name='user_id' value='<%= @user.id %>' />
	<table>
		<tr>
			<td>
				Patient has Health Passport? 
			</td>
			<td>
<select id='1.1' name='concept[Patient has Health Passport? ]' helpText='Patient has Health Passport? ' pos='0'  tt_onLoad='__$("nextButton").style.display = "none"'  tt_requirenextclick='false' >
<option></option>
<option value='No'>No</option>
 <option value='Yes'>Yes</option>
 </select>
			</td>
		</tr>
	</table>
</form>
