<style type="text/css">
  .long .options {
    height: 22em !important;
  }
</style>

<script language="javascript">
  tt_cancel_destination = '/add_to_cart?patient_id=<%= params[:patient_id] %>&user_id=<%= params[:user_id] %>';
  tt_cancel_show = '/add_to_cart?patient_id=<%= params[:patient_id] %>';
</script>

<form action="/add_to_cart" method='post'>

  <%= text_field "service" , 'service_name',:helpText => "Select Drug", :xhelpText => 'Select Drug',:tt_requireNextClick => false, :ajaxURL => '/billing_product/get_service?field=pharmacy&value=', :tt_onLoad => "$('nextButton').style.display = 'none';"%>

  <%= text_field_tag "quantity", 1,
	 {:id => "quantity",
          :allowFreeText => true,
          :field_type => "number",
	  :helpText => "Enter quantity",
	  :tt_requireNextClick => true,
          :tt_onLoad => "$('nextButton').style.display = 'block';"}%>

  <%= hidden_field_tag "user_id", (params[:id] || params[:user_id]) %>

  <%= hidden_field_tag "location_id", params[:location_id] %>

  <%= hidden_field_tag "patient_id",  params[:patient_id] %>

  <% if !params[:src].nil? %>
    <%= hidden_field_tag "src", "#{params[:src]}" %>
  <% end %>

  <%= submit_tag value ="Submit"%>

</form>